@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    border: none;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: #24204A;
}

.w-1170 {
    width: 1170px;
    margin: 0 auto;
}

/*------------------------------header---------------------*/
header {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 67px;
}

header > .w-1170 {
    height: 113px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > .w-1170 :nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

header > .w-1170 > nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

/*--------------------hero------------------*/
section.hero > .w-1170 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 208px;
    margin-bottom: 101px;
}

button.one-position {
    width: 145px;
    height: 41px;
    border-radius: 8px;
    background-color: #4B4864;
    font-size: 16px;
    color: #8E88C1;
}

.w-1170 > div.left-part-section-hero > h2 {
    width: 261px;
    height: 88px;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.05em;
    color: #fff;
}

.left-part-section-hero {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
}

.left-part-section-hero > p {
    width: 570px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #8e88c1;
}

.left-part-section-hero > button.about {
    border-radius: 8px;
    width: 200px;
    height: 56px;
    box-shadow: 0 6px 20px 0 rgba(0, 255, 224, 0.2);
    background: #3f50e7;
    text-transform: uppercase;
}

.bulb {
    width: 375px;
    height: 411px;
    background-color: #827EAC;
    position: relative;
}

.bulb > img {
    position: absolute;
    top: 20px;
}

/*--------------------------details-----------------*/
.background-dark-blue {
    background-color: #071341;
}

section.details > .w-1170 > .items {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.details > .w-1170 > .items > .item {
    width: 175px;
    height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
}

section.details > .w-1170 > .items > .item > .box {
    border-radius: 8px;
    width: 56px;
    height: 56px;
    background-color: #6B6161;
    position: relative;
}

section.details > .w-1170 > .items > .item > .orange {
    background-color: #FF6853;
}

section.details > .w-1170 > .items > .item > .red {
    background-color: #FF537C;
}

section.details > .w-1170 > .items > .item > .blue {
    background-color: #80D2C4;
}

section.details > .w-1170 > .items > .item > .violet {
    background-color: #3F50E7;
}

section.details > .w-1170 > .items > .item > .green {
    background-color: #95CB7C;
}

section.details > .w-1170 > .items > .item > .box > img {
    position: absolute;
    top: 13px;
    left: 13px;
}

section.details > .w-1170 > .items > .item > :nth-child(2) > :nth-child(1) {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin-bottom: 3px;
}

section.details > .w-1170 > .items > .item > :nth-child(2) > :nth-child(2) {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #8e88c1;
}

section.details > .w-1170 > .h3-detail-section {
    width: 1000px;
    height: 126px;
    font-weight: 700;
    font-size: 36px;
    line-height: 117%;
    text-align: center;
    color: #fff;
    margin: 50px auto;
}

section.details > .w-1170 > .p-detail-section {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-align: center;
    color: #8e88c1;
}

section.details > .w-1170 > .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 152px 0;

}

section.details > .w-1170 > .cards > .card {
    border: 2px solid #8e88c1;
    border-radius: 8px;
    width: 209px;
    height: 206px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

section.details > .w-1170 > .cards > .card > :nth-child(1) {
    position: absolute;
    top: 44px;
}

section.details > .w-1170 > .cards > .card > :nth-child(2) {
    width: 178px;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.05em;
    text-align: center;
    color: #8e88c1;
    padding-top: 122px;
}

/*--------------------------footer----------------*/
.footer-map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom {
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom > p {
    font-weight: 500;
    font-size: 12px;
    line-height: 200%;
    color: #fff;
}