body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content:  center;
    align-items: center;
    background-color: darkcyan;
}
.wrapper{
    width: 45vw;
    height: 50vh;
    background-color:plum;
    border-radius: 20px;
}
.wrapper>div{
    display: flex;
    justify-content: center;
    align-items:  center;
    background-color: rgba(0, 139, 139, 0.55)
}