body {
    background-image: url("image/batman.webp");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    padding: 10px;
    margin: 30px 40%;
}

h1, h2 {
    color: aliceblue;
}

img {
    margin: 20px;
    padding: 20px;
    display: block;
    width: 500px;
    height: 500px;
    object-fit: cover;
}

p {
    font-size: 40px;
    color: aliceblue;
}

span {
    color: red;
    width: 10px;
}