body {
    background-color: lightgray;
}

h1 {
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    width: 200px;
    height: 250px;
    border: 7px solid gray;
    border-radius: 5%;
    gap: 60px;
}

.item img {
    width: 100px;
    height: 100px;
}

.footer {
    font-weight: bold;
    text-align: center;
}
hr{
    border:  2px solid gray;
}